inst/naryndb/test/.naryn
src/*.so
src/*.o
src/*.d
src/Makevars_bak
tests/testdb
tests/testdb_*
tests/snapshot
.vscode
Logical_tracks.md
inst/naryndb/test/.logical_tracks
inst/naryndb/test/.attrs
benchmark.*
inst/doc
docs/
architecture.*
